th:nth-child(1),
td:nth-child(1) {
    width: 8%;
    text-align: center;
}

th:nth-child(2),
td:nth-child(2) {
    width: 12%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 30%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 24%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 16%;
    text-align: right;
}

th:nth-child(6),
td:nth-child(6) {
    width: 10%;
    text-align: center;
    white-space: nowrap;
}

h2 {
    color: var(--blue-900);
    margin-top: 24px;
}

.ranking-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: start;
}

.ranking-panel h2 {
    margin-top: 0;
}
