th:nth-child(1),
td:nth-child(1) {
    width: 8%;
    text-align: center;
}

th:nth-child(2),
td:nth-child(2) {
    width: 12%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 24%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 18%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 14%;
}

th:nth-child(6),
td:nth-child(6) {
    width: 14%;
    text-align: right;
}

th:nth-child(7),
td:nth-child(7) {
    width: 10%;
    text-align: center;
    white-space: nowrap;
}

h2 {
    color: var(--blue-900);
    margin-top: 24px;
}
