th:nth-child(1),
td:nth-child(1) {
    width: 5%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 28%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 15%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 8%;
}

th:nth-child(5),
td:nth-child(5),
th:nth-child(6),
td:nth-child(6),
th:nth-child(7),
td:nth-child(7),
th:nth-child(8),
td:nth-child(8),
th:nth-child(9),
td:nth-child(9),
th:nth-child(10),
td:nth-child(10) {
    width: 8%;
}

th:nth-child(11),
td:nth-child(11) {
    width: 7%;
    text-align: center;
    white-space: nowrap;
}

td:nth-child(4),
td:nth-child(5),
td:nth-child(6),
td:nth-child(7),
td:nth-child(8),
td:nth-child(9),
td:nth-child(10) {
    text-align: right;
}

.filter-bar {
    margin: 12px 0 20px;
    display: flex;
    align-items: center;
}

.filter-bar form {
    display: flex;
    gap: 8px;
    align-items: center;
}

.filter-bar select {
    min-width: 200px;
}

.button.subtle {
    background: transparent;
    color: var(--blue-900);
    border: 1px solid var(--blue-200);
}
