{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>東証上場銘柄一覧</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <h1>東証上場銘柄一覧</h1>
    <div class="meta">件数: {{ listings|length }}</div>
    <table>
        <thead>
            <tr>
                <th>基準日</th>
                <th>銘柄コード</th>
                <th>銘柄名</th>
                <th>市場・商品区分</th>
                <th>33業種</th>
                <th>17業種</th>
                <th>規模</th>
                <th>更新日時</th>
            </tr>
        </thead>
        <tbody>
            {% for item in listings %}
            <tr>
                <td>{{ item.listing_date }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.market }}</td>
                <td>{{ item.sector33_code }} - {{ item.sector33_name }}</td>
                <td>{{ item.sector17_code }} - {{ item.sector17_name }}</td>
                <td>{{ item.scale_code }} - {{ item.scale_name }}</td>
                <td>{{ item.updated_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">銘柄データがありません。</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
